@{
    ViewData["Title"] = "Rotinas DDS";
}

@model List<Rotina>

<div class="principal">
    <div>
        <h1 class="text-center mt-4">Verificação de Rotinas DDS</h1>
    </div>

    <div class="rotinas">
        <div class="card-rotina total">
            <div class="card-body">
                <h5 class="card-title text-center">Total</h5>
                <p class="card-text display-4">4</p>
            </div>
        </div>

        <div class="card-rotina ok">
            <div class="card-body">
                <h5 class="card-title text-center">Ok</h5>
                <p class="card-text display-4">4</p>
            </div>
        </div>

        <div class="card-rotina alerta">
            <div class="card-body">
                <h5 class="card-title text-center">Alerta</h5>
                <p class="card-text display-4">0</p>
            </div>
        </div>
    </div>

    <div class="tabela">
        <table class="rotinas-table">
            <thead>
                <tr>
                    <th>Rotina</th>
                    <th>Cliente</th>
                    <th>Status</th>
                    <th>Última Data Hora</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    item.DataHora = DateTime.Now;

                    double tempo = (DateTime.Now - item.DataHora).TotalMinutes;
                    item.Status = tempo > item.Tolerancia ? "Alerta" : "Ok";

                    var classeSpan = item.Status == "Alerta" ? "badge badge--alerta" : "badge badge--ok";
                    var classeTr = item.Status == "Alerta" ? "alerta" : "ok";

                    <tr class="@classeTr">
                        <td class="cell-rotina">@item.Descricao</td>
                        <td>@item.Cliente</td>
                        <td>
                            <span class="@classeSpan">@item.Status</span>
                        </td>
                        <td>@item.DataHora.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
